<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<div>
{{#if user}}
Logged in as {{user.username}}
{{/if}}
</div>
    {{{body}}}
  </body>
</html>
